.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .overlap-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 2474px;
  }
  
  .desktop .overlap {
    position: relative;
    height: 2478px;
  }
  
  .desktop .body {
    position: absolute;
    width: 1440px;
    height: 2391px;
    top: 87px;
    left: 0;
    background-color: #fac055;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    top: 101px;
    left: 464px;
    font-family: "Rubik", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0.13px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .element {
    display: flex;
    width: 1116px;
    height: 2079px;
    align-items: flex-start;
    gap: 6.23px;
    padding: 26.16px 46.72px;
    position: absolute;
    top: 248px;
    left: 164px;
    background-color: #f5f6f8;
    border-radius: 6.23px 0px 0px 6.23px;
    overflow: hidden;
    box-shadow: 0px 9.34px 49.83px #0000001a;
  }
  
  .desktop .content {
    display: flex;
    flex-direction: column;
    width: 1010px;
    align-items: flex-start;
    gap: 74.75px;
    position: relative;
    margin-bottom: -38.61px;
  }
  
  .desktop .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 37.38px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-2 {
    margin-top: -0.62px;
    color: #000000;
    font-size: 24.9px;
    letter-spacing: 0.05px;
    position: relative;
    width: fit-content;
    font-family: "Rubik", Helvetica;
    font-weight: 500;
    line-height: normal;
  }
  
  .desktop .card-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 49.83px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .element-2 {
    display: flex;
    width: 988px;
    align-items: flex-start;
    gap: 64.16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .card {
    position: relative;
    width: 259.31px;
    height: 140.38px;
  }
  
  .desktop .frame {
    display: inline-flex;
    align-items: center;
    gap: 14.95px;
    position: relative;
  }
  
  .desktop .image {
    width: 141.68px;
    height: 190.21px;
    margin-bottom: -31.15px;
    position: relative;
    margin-top: -18.69px;
    margin-left: -24.92px;
    object-fit: cover;
  }
  
  .desktop .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8.1px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11.21px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-3 {
    position: relative;
    width: 118.35px;
    height: 42.36px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15.6px;
    letter-spacing: 0;
    line-height: 21.8px;
  }
  
  .desktop .text-wrapper-4 {
    width: 84.09px;
    height: 11.84px;
    color: #00000099;
    font-size: 10px;
    white-space: nowrap;
    position: relative;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-4 {
    display: inline-flex;
    align-items: center;
    gap: 16.2px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .img {
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-5 {
    position: relative;
    width: 78.49px;
    height: 8.72px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 300;
    color: #0000004c;
    font-size: 10px;
    letter-spacing: 0.02px;
    line-height: 10.0px;
    white-space: nowrap;
  }
  
  .desktop .p {
    position: relative;
    width: 152.51px;
    height: 44.48px;
    font-family: "Rambla", Helvetica;
    font-weight: 400;
    color: #0000004c;
    font-size: 10px;
    letter-spacing: 0.03px;
    line-height: 15.6px;
  }
  
  .desktop .frame-wrapper {
    position: relative;
    width: 259.31px;
    height: 143.36px;
  }
  
  .desktop .image-2 {
    position: relative;
    width: 141.68px;
    height: 190.21px;
    margin-top: -17.19px;
    margin-bottom: -29.65px;
    margin-left: -24.92px;
    object-fit: cover;
  }
  
  .desktop .text-wrapper-6 {
    width: 102px;
    height: 12px;
    color: #00000099;
    font-size: 10px;
    position: relative;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-7 {
    position: relative;
    width: 78px;
    height: 14px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 300;
    color: #0000004c;
    font-size: 10px;
    letter-spacing: 0.02px;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .desktop .div-wrapper {
    position: relative;
    width: 262.08px;
    height: 140.38px;
  }
  
  .desktop .img-2 {
    position: relative;
    width: 94.62px;
    height: 140.38px;
    object-fit: cover;
  }
  
  .desktop .text-wrapper-8 {
    width: 93px;
    height: 12px;
    color: #00000099;
    font-size: 10px;
    position: relative;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .card-2 {
    position: relative;
    width: 259.89px;
    height: 140.53px;
  }
  
  .desktop .image-3 {
    width: 141.68px;
    height: 190.37px;
    margin-bottom: -31.15px;
    position: relative;
    margin-top: -18.69px;
    margin-left: -24.92px;
    object-fit: cover;
  }
  
  .desktop .clube-do-livro-dos {
    position: relative;
    width: 127.07px;
    height: 42.36px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15.6px;
    letter-spacing: 0;
    line-height: 21.8px;
  }
  
  .desktop .lyssa-kay-adams {
    position: relative;
    width: 83.47px;
    height: 11.84px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #00000099;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-9 {
    position: relative;
    width: 77.24px;
    height: 8.72px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 300;
    color: #0000004c;
    font-size: 10px;
    letter-spacing: 0.02px;
    line-height: 10.0px;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-10 {
    position: relative;
    width: 153.09px;
    height: 44.48px;
    font-family: "Rambla", Helvetica;
    font-weight: 400;
    color: #0000004c;
    font-size: 10px;
    letter-spacing: 0.03px;
    line-height: 15.6px;
  }
  
  .desktop .card-3 {
    position: relative;
    width: 259.65px;
    height: 140.78px;
  }
  
  .desktop .frame-5 {
    display: inline-flex;
    align-items: center;
    gap: 8.1px;
    position: relative;
  }
  
  .desktop .image-4 {
    position: relative;
    width: 148.88px;
    height: 190.61px;
    margin-top: -18.69px;
    margin-bottom: -31.15px;
    margin-left: -24.92px;
    object-fit: cover;
  }
  
  .desktop .text-wrapper-11 {
    position: relative;
    width: 80px;
    height: 9px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 300;
    color: #0000004c;
    font-size: 10px;
    letter-spacing: 0.02px;
    line-height: 10.0px;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0.07px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-13 {
    position: relative;
    width: fit-content;
    font-family: "Rubik", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24.9px;
    letter-spacing: 0.05px;
    line-height: normal;
  }
  
  .desktop .card-list-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 39.24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .card-4 {
    height: 246.42px;
    position: relative;
    width: 117.11px;
  }
  
  .desktop .frame-6 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15.57px;
    position: relative;
  }
  
  .desktop .image-5 {
    width: 166.94px;
    height: 229.23px;
    margin-right: -24.92px;
    position: relative;
    margin-top: -18.69px;
    margin-left: -24.92px;
    object-fit: cover;
  }
  
  .desktop .frame-7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7.47px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-14 {
    position: relative;
    width: 85.34px;
    height: 17.44px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .beth-o-leary {
    width: 62px;
    height: 12px;
    color: #00000099;
    font-size: 10px;
    position: relative;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .card-5 {
    position: relative;
    width: 118.35px;
    height: 257.98px;
  }
  
  .desktop .image-6 {
    width: 168.19px;
    height: 229.23px;
    margin-right: -24.92px;
    position: relative;
    margin-top: -18.69px;
    margin-left: -24.92px;
    object-fit: cover;
  }
  
  .desktop .text-wrapper-15 {
    position: relative;
    width: 117px;
    height: 29px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-16 {
    width: 59px;
    height: 12px;
    color: #00000099;
    font-size: 10px;
    position: relative;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .card-6 {
    position: relative;
    width: 117.11px;
    height: 252.81px;
  }
  
  .desktop .uma-farsa-de-amor-na {
    position: relative;
    width: 116px;
    height: 24px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-17 {
    width: 65.41px;
    height: 11.84px;
    color: #00000099;
    font-size: 10px;
    white-space: nowrap;
    position: relative;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .card-7 {
    position: relative;
    width: 118.35px;
    height: 268.81px;
  }
  
  .desktop .manual-de {
    position: relative;
    width: 118px;
    height: 40px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-18 {
    position: relative;
    width: 80.98px;
    height: 11.84px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #00000099;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .card-8 {
    position: relative;
    width: 118.35px;
    height: 281.8px;
  }
  
  .desktop .frame-8 {
    position: relative;
    width: 118px;
    height: 282px;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 118px;
    height: 179px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .desktop .vector {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 63px;
    left: 32px;
  }
  
  .desktop .adicione-mais-livros {
    position: absolute;
    width: 118px;
    top: 190px;
    left: 0;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .card-list-3 {
    display: flex;
    width: 1010px;
    align-items: flex-start;
    gap: 39.24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .frame-9 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15.57px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-19 {
    position: relative;
    width: 118px;
    height: 29px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .card-9 {
    height: 252.98px;
    position: relative;
    width: 117.11px;
  }
  
  .desktop .text-wrapper-20 {
    position: relative;
    width: 115px;
    height: 24px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-21 {
    width: 55px;
    height: 12px;
    color: #00000099;
    font-size: 10px;
    position: relative;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .card-10 {
    position: relative;
    width: 118.35px;
    height: 245.98px;
  }
  
  .desktop .a-garota-do-lago {
    position: relative;
    width: 104px;
    height: 17px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-22 {
    width: 68px;
    height: 12px;
    color: #00000099;
    font-size: 10px;
    position: relative;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .card-11 {
    position: relative;
    width: 117.11px;
    height: 245.81px;
  }
  
  .desktop .mil-beijos-de-garoto {
    position: relative;
    width: 116px;
    height: 17px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .card-12 {
    height: 245.98px;
    position: relative;
    width: 117.11px;
  }
  
  .desktop .a-raz-o-do-amor {
    position: relative;
    width: 104px;
    height: 18px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .ali-hazelwood {
    width: 74px;
    height: 11px;
    color: #00000099;
    font-size: 10px;
    white-space: nowrap;
    position: relative;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .amor-teoricamente {
    position: relative;
    width: 114px;
    height: 18px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .ali-hazelwood-2 {
    width: 66px;
    height: 11px;
    color: #00000099;
    font-size: 10px;
    white-space: nowrap;
    position: relative;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .card-13 {
    position: relative;
    width: 117.11px;
    height: 254.81px;
  }
  
  .desktop .a-hip-tese-do-amor {
    position: relative;
    width: 115px;
    height: 26px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .eu-e-esse-meu-cora-o {
    position: relative;
    width: 114px;
    height: 26px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .card-14 {
    height: 245.42px;
    position: relative;
    width: 117.11px;
  }
  
  .desktop .louisa-may-alcott {
    width: 83px;
    height: 11px;
    color: #00000099;
    font-size: 10px;
    white-space: nowrap;
    position: relative;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .card-15 {
    position: relative;
    width: 118.35px;
    height: 252.81px;
  }
  
  .desktop .a-biblioteca-da-meia {
    position: relative;
    width: 114px;
    height: 24px;
    margin-top: -0.62px;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-23 {
    width: 44.85px;
    height: 11.84px;
    color: #00000099;
    font-size: 10px;
    white-space: nowrap;
    position: relative;
    font-family: "Rubik", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .footer {
    position: absolute;
    width: 1440px;
    height: 116px;
    top: 0;
    left: 0;
    background-color: #fac055;
  }
  
  .desktop .navbar {
    display: flex;
    width: 1378px;
    align-items: center;
    gap: 505px;
    position: absolute;
    top: 29px;
    left: 62px;
  }
  
  .desktop .frame-10 {
    display: flex;
    width: 236px;
    align-items: center;
    gap: 20px;
    position: relative;
  }
  
  .desktop .text-wrapper-24 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Rubik", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .vector-2 {
    position: relative;
    width: 1px;
    height: 34px;
    margin-right: -0.60px;
  }
  
  .desktop .navbar-2 {
    position: relative;
    width: 528.88px;
    height: 58px;
  }
  
  .desktop .title {
    display: inline-flex;
    align-items: flex-start;
    gap: 45px;
    position: absolute;
    top: 21px;
    left: 0;
  }
  
  .desktop .frame-11 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-25 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Rubik", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .vector-3 {
    position: relative;
    width: 30px;
    height: 3px;
    margin-bottom: -1.50px;
  }
  
  .desktop .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 14px 58px;
    position: absolute;
    top: 0;
    left: 340px;
    background-color: var(--color-second);
    border-radius: 30px;
    overflow: hidden;
  }
  
  .desktop .text-wrapper-26 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Rubik", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .vector-4 {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 397px;
    left: 400px;
  }
  
  .desktop .vector-5 {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 878px;
    left: 457px;
  }