{% extends "layout.html" %}

{% load static %}

{% block title %}Papiro Books{% endblock %}

{% block content %}
{% include "navbar.html" %}
    <div class="desktop">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="body">
            <div class="text-wrapper">Minha Biblioteca</div>
            <div class="element">
              <div class="content">
                <div class="div">
                  <div class="text-wrapper-2">Meus favoritos</div>
                  <div class="card-list">
                    <div class="element-2">
                      <div class="card">
                        <div class="frame">
                          <img class="image" src="https://c.animaapp.com/aIqM6pqI/img/image-9@2x.png" />
                          <div class="frame-2">
                            <div class="frame-3">
                              <div class="text-wrapper-3">O Príncipe Cruel</div>
                              <div class="text-wrapper-4">Holly Black</div>
                              <div class="frame-4">
                                <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8341.svg" />
                                <div class="text-wrapper-5">2,751,385 votos</div>
                              </div>
                            </div>
                            <p class="p">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim,
                              tristique
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="frame-wrapper">
                        <div class="frame">
                          <img class="image-2" src="https://c.animaapp.com/aIqM6pqI/img/image-9-1@2x.png" />
                          <div class="frame-2">
                            <div class="frame-3">
                              <p class="text-wrapper-3">Um De Nós Está Mentindo</p>
                              <div class="text-wrapper-6">Karen M. Mcmanus</div>
                              <div class="frame-4">
                                <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8341-1.svg" />
                                <div class="text-wrapper-7">1,562,167 votos</div>
                              </div>
                            </div>
                            <p class="p">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim,
                              tristique
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="div-wrapper">
                        <div class="frame">
                          <img
                            class="img-2"
                            src="https://c.animaapp.com/aIqM6pqI/img/144b57cd6c7bc2522976755c77ddc666-1@2x.png"
                          />
                          <div class="frame-2">
                            <div class="frame-3">
                              <p class="text-wrapper-3">Os Sete Maridos De Evelyn Hugo</p>
                              <div class="text-wrapper-8">Taylor Jenkins Reid</div>
                              <div class="frame-4">
                                <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8341-2.svg" />
                                <div class="text-wrapper-5">2,967,598 votos</div>
                              </div>
                            </div>
                            <p class="p">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim,
                              tristique
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="element-2">
                      <div class="card-2">
                        <div class="frame">
                          <img class="image-3" src="https://c.animaapp.com/aIqM6pqI/img/image@2x.png" />
                          <div class="frame-2">
                            <div class="frame-3">
                              <p class="clube-do-livro-dos">Clube Do Livro Dos Homens</p>
                              <div class="lyssa-kay-adams">Lyssa Kay Adams</div>
                              <div class="frame-4">
                                <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8326.svg" />
                                <div class="text-wrapper-9">1,562,189 votos</div>
                              </div>
                            </div>
                            <p class="text-wrapper-10">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim,
                              tristique
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card-3">
                        <div class="frame-5">
                          <img class="image-4" src="https://c.animaapp.com/aIqM6pqI/img/image-1@2x.png" />
                          <div class="frame-2">
                            <div class="frame-3">
                              <div class="text-wrapper-3">Até O Verão Acabar</div>
                              <div class="text-wrapper-4">Collen Hoover</div>
                              <div class="frame-4">
                                <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8331.svg" />
                                <div class="text-wrapper-5">1,671,453 votos</div>
                              </div>
                            </div>
                            <p class="p">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim,
                              tristique
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card-3">
                        <div class="frame-5">
                          <img class="image-4" src="https://c.animaapp.com/aIqM6pqI/img/image-2@2x.png" />
                          <div class="frame-2">
                            <div class="frame-3">
                              <div class="text-wrapper-3">Teto Para Dois</div>
                              <div class="text-wrapper-4">Beth O’leary</div>
                              <div class="frame-4">
                                <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8331-1.svg" />
                                <div class="text-wrapper-11">1,567,233 votos</div>
                              </div>
                            </div>
                            <p class="p">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim,
                              tristique
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="div">
                  <div class="text-wrapper-12">Minhas Listas</div>
                  <div class="text-wrapper-13">Preciso Terminar de Ler</div>
                  <div class="card-list-2">
                    <div class="card-4">
                      <div class="frame-6">
                        <img class="image-5" src="https://c.animaapp.com/aIqM6pqI/img/image-3@2x.png" />
                        <div class="frame-7">
                          <div class="text-wrapper-14">Teto Para Dois</div>
                          <div class="beth-o-leary">Beth O’leary</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8310.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-5">
                      <div class="frame-6">
                        <img class="image-6" src="https://c.animaapp.com/aIqM6pqI/img/image-4@2x.png" />
                        <div class="frame-7">
                          <div class="text-wrapper-15">Orgulho E Preconceito</div>
                          <div class="text-wrapper-16">Jane Austen</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8312.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-6">
                      <div class="frame-6">
                        <img class="image-5" src="https://c.animaapp.com/aIqM6pqI/img/image-5@2x.png" />
                        <div class="frame-7">
                          <p class="uma-farsa-de-amor-na">Uma Farsa De Amor Na Espanha</p>
                          <div class="text-wrapper-17">Elena Armas</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8316.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-7">
                      <div class="frame-6">
                        <img class="image-6" src="https://c.animaapp.com/aIqM6pqI/img/image-6@2x.png" />
                        <div class="frame-7">
                          <p class="manual-de">Manual De Assassinato Para Boas Garotas</p>
                          <div class="text-wrapper-18">Holly Jackson</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8319.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-8">
                      <div class="frame-8">
                        <div class="overlap-group">
                          <img class="vector" src="https://c.animaapp.com/aIqM6pqI/img/vector.svg" />
                        </div>
                        <div class="adicione-mais-livros">Adicione Mais Livros</div>
                      </div>
                    </div>
                  </div>
                  <div class="text-wrapper-13">Me Deram Ressaca Literária</div>
                  <div class="card-list-3">
                    <div class="frame-9">
                      <img class="image-6" src="https://c.animaapp.com/aIqM6pqI/img/image-7@2x.png" />
                      <div class="frame-7">
                        <p class="text-wrapper-19">As Vantagens De Ser Invisível</p>
                        <div class="text-wrapper-18">Stephen Chosky</div>
                        <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8319-1.svg" />
                      </div>
                    </div>
                    <div class="card-9">
                      <div class="frame-6">
                        <img class="image-5" src="https://c.animaapp.com/aIqM6pqI/img/image-8@2x.png" />
                        <div class="frame-7">
                          <p class="text-wrapper-20">A Culpa É Das Estrelas</p>
                          <div class="text-wrapper-21">John Green</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8310-1.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-10">
                      <div class="frame-6">
                        <img class="image-6" src="https://c.animaapp.com/aIqM6pqI/img/image-10@2x.png" />
                        <div class="frame-7">
                          <div class="a-garota-do-lago">A Garota Do Lago</div>
                          <div class="text-wrapper-22">Charlie Donlea</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8312-1.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-11">
                      <div class="frame-6">
                        <img class="image-5" src="https://c.animaapp.com/aIqM6pqI/img/image-11@2x.png" />
                        <div class="frame-7">
                          <div class="mil-beijos-de-garoto">Mil Beijos De Garoto</div>
                          <div class="text-wrapper-17">Tillie Cole</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8316-1.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-8">
                      <div class="frame-8">
                        <div class="overlap-group">
                          <img class="vector" src="https://c.animaapp.com/aIqM6pqI/img/vector-1.svg" />
                        </div>
                        <div class="adicione-mais-livros">Adicione Mais Livros</div>
                      </div>
                    </div>
                  </div>
                  <div class="text-wrapper-13">Romances Quentinhos</div>
                  <div class="card-list-3">
                    <div class="frame-9">
                      <img class="image-6" src="https://c.animaapp.com/aIqM6pqI/img/image-12@2x.png" />
                      <div class="frame-7">
                        <p class="text-wrapper-19">Vermelho, Branco E Sangue Azul</p>
                        <div class="text-wrapper-18">Casey Mcquiston</div>
                        <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8319-2.svg" />
                      </div>
                    </div>
                    <div class="card-12">
                      <div class="frame-6">
                        <img class="image-5" src="https://c.animaapp.com/aIqM6pqI/img/image-13@2x.png" />
                        <div class="frame-7">
                          <div class="a-raz-o-do-amor">A Razão Do Amor</div>
                          <div class="ali-hazelwood">Ali Hazelwood</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8310-2.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-10">
                      <div class="frame-6">
                        <img class="image-6" src="https://c.animaapp.com/aIqM6pqI/img/image-14@2x.png" />
                        <div class="frame-7">
                          <div class="amor-teoricamente">Amor Teoricamente</div>
                          <div class="ali-hazelwood-2">Ali Hazelwood</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8312-2.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-13">
                      <div class="frame-6">
                        <img class="image-5" src="https://c.animaapp.com/aIqM6pqI/img/image-15@2x.png" />
                        <div class="frame-7">
                          <div class="a-hip-tese-do-amor">A Hipótese Do Amor</div>
                          <div class="text-wrapper-17">Ali Hazelwood</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8316-2.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-13">
                      <div class="frame-6">
                        <img class="image-5" src="https://c.animaapp.com/aIqM6pqI/img/image-16@2x.png" />
                        <div class="frame-7">
                          <p class="eu-e-esse-meu-cora-o">Eu E Esse Meu Coração</p>
                          <div class="text-wrapper-17">C. C. Hunter</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8316-3.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-8">
                      <div class="frame-8">
                        <div class="overlap-group">
                          <img class="vector" src="https://c.animaapp.com/aIqM6pqI/img/vector-2.svg" />
                        </div>
                        <div class="adicione-mais-livros">Adicione Mais Livros</div>
                      </div>
                    </div>
                  </div>
                  <div class="text-wrapper-13">Preciso ler</div>
                  <div class="card-list-3">
                    <div class="frame-9">
                      <img class="image-6" src="https://c.animaapp.com/aIqM6pqI/img/image-17@2x.png" />
                      <div class="frame-7">
                        <p class="text-wrapper-15">Alice Nos País Das Maravilhas</p>
                        <div class="text-wrapper-18">Lewis Carroll</div>
                        <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8319-3.svg" />
                      </div>
                    </div>
                    <div class="card-14">
                      <div class="frame-6">
                        <img class="image-5" src="https://c.animaapp.com/aIqM6pqI/img/image-18@2x.png" />
                        <div class="frame-7">
                          <div class="text-wrapper-14">Mulherzinhas</div>
                          <div class="louisa-may-alcott">Louisa May Alcott</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8310-3.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-15">
                      <div class="frame-6">
                        <img class="image-6" src="https://c.animaapp.com/aIqM6pqI/img/image-19@2x.png" />
                        <div class="frame-7">
                          <div class="a-biblioteca-da-meia">A Biblioteca Da Meia-noite</div>
                          <div class="text-wrapper-23">Matt Haig</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8312-3.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-6">
                      <div class="frame-6">
                        <img class="image-5" src="https://c.animaapp.com/aIqM6pqI/img/image-20@2x.png" />
                        <div class="frame-7">
                          <p class="text-wrapper-20">Você Ligou Para O Sam</p>
                          <div class="text-wrapper-17">Dustin Thao</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8316-4.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-6">
                      <div class="frame-6">
                        <img class="image-5" src="https://c.animaapp.com/aIqM6pqI/img/image-21@2x.png" />
                        <div class="frame-7">
                          <p class="text-wrapper-20">O Jogo Do Amor E Ódio</p>
                          <div class="text-wrapper-17">Sally Thorne</div>
                          <img class="img" src="https://c.animaapp.com/aIqM6pqI/img/frame-8316-5.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="card-8">
                      <div class="frame-8">
                        <div class="overlap-group">
                          <img class="vector" src="https://c.animaapp.com/aIqM6pqI/img/vector-3.svg" />
                        </div>
                        <div class="adicione-mais-livros">Adicione Mais Livros</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer"></div>
          <div class="navbar">
            <div class="frame-10">
              <img class="vector-2" src="https://c.animaapp.com/aIqM6pqI/img/vector-5.svg" />
            </div>
            <div class="navbar-2">
              <div class="title">
                <div class="frame-11">
                </div>
              </div>
            </div>
          </div>
          <img class="vector-4" src="https://c.animaapp.com/aIqM6pqI/img/vector-7.svg" />
          <img class="vector-5" src="https://c.animaapp.com/aIqM6pqI/img/vector-7.svg" />
        </div>
      </div>
    </div>
{% endblock %}