{% extends "layout.html" %}

{% load static %}

{% block title %}Papiro Books{% endblock %}

{% block content %}
{% include "navbar.html" %}
  <div class="check-out">
  <div class="overlap-wrapper">
    <div class="overlap">
      <div class="header"></div>
      <img class="button" <a src="https://c.animaapp.com/oyLx9AwY/img/button.svg" href="{% url 'generos' %}"></a>/>
      <div class="content">
        <div class="big-card">
          <div class="body-text">
            <div class="title">
              <div class="div">
                <div class="text-wrapper">Sinopse</div>
                <p class="olive-smith-aluna-do">
                  Olive Smith, aluna do doutorado em Biologia da Universidade Stanford, acredita na ciência – não em
                  algo incontrolável como o amor.<br />Depois de sair algumas vezes com Jeremy, ela percebe que sua
                  melhor amiga gosta dele e decide juntá-los. Para mostrar que está feliz com essa escolha, Olive
                  precisa ser convincente: afinal, cientistas exigem provas.<br />Sem muitas opções, ela resolve
                  inventar um namoro de mentira e, num momento de pânico, beija o primeiro homem que vê pela
                  frente.<br />O problema é que esse homem é Adam Carlsen, um jovem professor de prestígio –
                  conhecido por levar os alunos às lágrimas. Por isso, Olive fica chocada quando o tirano dos
                  laboratórios concorda em levar adiante a farsa e fingir ser seu namorado.<br />De repente, seu
                  pequeno experimento parece perigosamente próximo da combustão e aquela pequena possibilidade
                  científica, que era apenas uma hipótese sobre o amor, transforma-se em algo totalmente inesperado.
                </p>
              </div>
              <div class="more-info">
                <div class="text-wrapper">Informações</div>
                <div class="frame">
                  <div class="frame-2">
                    <div class="group">
                      <div class="text-wrapper-2">Editora</div>
                      <div class="text-wrapper-3">Editora Arqueiro</div>
                    </div>
                    <div class="group-2">
                      <div class="text-wrapper-2">Genre</div>
                      <p class="text-wrapper-3">Ficção / Romance / Comédia</p>
                    </div>
                  </div>
                  <div class="frame-2">
                    <div class="group-3">
                      <div class="text-wrapper-2">Data De Publicação</div>
                      <div class="text-wrapper-3">5 Julho 2022</div>
                    </div>
                    <div class="group-4">
                      <div class="text-wrapper-2">Dimensões</div>
                      <p class="text-wrapper-3"> 16 X 2 X 23 Cm</p>
                    </div>
                  </div>
                  <div class="frame-2">
                    <div class="group-5">
                      <div class="text-wrapper-2">Idioma</div>
                      <div class="text-wrapper-3">Português</div>
                    </div>
                    <div class="group-6">
                      <div class="text-wrapper-2">Número De Páginas</div>
                      <div class="text-wrapper-3">336 Páginas</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="overlap-group-wrapper">
              <div class="overlap-group"><div class="text-wrapper-4">Comentários</div></div>
            </button>
          </div>
          <div class="overlap-2">
            <div class="headline">
              <div class="div">
                <div class="a-hip-tese-do-amor-wrapper">
                  <div class="a-hip-tese-do-amor">A Hipótese Do Amor</div>
                </div>
                <div class="frame-3">
                  <div class="frame-4">
                    <div class="text-wrapper-5">Ali Hazelwood</div>
                    <div class="text-wrapper-5">5 Julho 2022</div>
                  </div>
                  <img class="start" src="https://c.animaapp.com/oyLx9AwY/img/start@2x.png" />
                </div>
                <div class="frame-4">
                  <div class="text-wrapper-5">3.7m Read</div>
                  <div class="text-wrapper-5">3.8m Votes</div>
                </div>
              </div>
            </div>
            <button class="btn-buy-wrapper">
              <div class="btn-buy">
                <div class="adicione-na-sua-wrapper">
                  <div class="adicione-na-sua">Adicione Na Sua Biblioteca</div>
                </div>
              </div>
            </button>
            <div class="recomende-para-seus-wrapper">
              <div class="recomende-para-seus">Recomende Para Seus Amigos</div>
            </div>
            <img class="image-book" src="https://c.animaapp.com/oyLx9AwY/img/image-book@2x.png" />
          </div>
          <img class="mdi-heart-outline" src="https://c.animaapp.com/oyLx9AwY/img/mdi-heart-outline.svg" />
        </div>
        <div class="section-side">
          <div class="hedaline">Outras Sugestões</div>
          <div class="card">
            <div class="content-wrapper">
              <div class="content-2">
                <img class="image" src="https://c.animaapp.com/oyLx9AwY/img/image-1@2x.png" />
                <div class="title-2">
                  <div class="frame-3">
                    <div class="text-wrapper-6">Amor Teoricamente</div>
                    <div class="text-wrapper-7">Ali Hazelwood</div>
                  </div>
                  <div class="frame-5">
                    <img class="start" src="https://c.animaapp.com/oyLx9AwY/img/start-1@2x.png" />
                    <div class="text-wrapper-8">678,987 vot0s</div>
                  </div>
                  <p class="p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim, tristique
                  </p>
                </div>
              </div>
            </div>
            <div class="content-wrapper">
              <div class="content-2">
                <img class="img" src="https://c.animaapp.com/oyLx9AwY/img/image-10@2x.png" />
                <div class="title-2">
                  <div class="frame-3">
                    <div class="text-wrapper-6">A Razão Do Amor</div>
                    <div class="text-wrapper-7">Ali Hazelwood</div>
                  </div>
                  <div class="frame-5">
                    <img class="start" src="https://c.animaapp.com/oyLx9AwY/img/start-2@2x.png" />
                    <div class="text-wrapper-8">768,389 votos</div>
                  </div>
                  <p class="p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim, tristique
                  </p>
                </div>
              </div>
            </div>
            <div class="content-wrapper">
              <div class="content-2">
                <img class="image" src="https://c.animaapp.com/oyLx9AwY/img/image-9@2x.png" />
                <div class="title-2">
                  <div class="frame-3">
                    <p class="uma-farsa-de-amor-na">Uma Farsa De Amor Na Espanha</p>
                    <div class="text-wrapper-7">Elena Armas</div>
                  </div>
                  <div class="frame-5">
                    <img class="start" src="https://c.animaapp.com/oyLx9AwY/img/start-3@2x.png" />
                    <div class="text-wrapper-8">1,451,211 votos</div>
                  </div>
                  <p class="p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim, tristique
                  </p>
                </div>
              </div>
            </div>
            <div class="content-wrapper">
              <div class="content-2">
                <img class="image-2" src="https://c.animaapp.com/oyLx9AwY/img/image-13@2x.png" />
                <div class="title-2">
                  <div class="frame-3">
                    <div class="text-wrapper-6">Teto Para Dois</div>
                    <div class="text-wrapper-7">Beth O’leary</div>
                  </div>
                  <div class="frame-5">
                    <img class="start" src="https://c.animaapp.com/oyLx9AwY/img/start-4@2x.png" />
                    <div class="text-wrapper-9">1,567,233 votos</div>
                  </div>
                  <p class="p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus morbi eleifend enim, tristique
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}